<div class="w-25">
  <%= form_with(model: art_piece) do |form| %>
    <% if art_piece.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(art_piece.errors.count, "error") %> prohibited this art_piece from being saved:</h2>

        <ul>
          <% art_piece.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :artist_id, style: "display: block" %>
      <%= form.select :artist_id, options_from_collection_for_select(Artist.all, :id, :full_name), {}, { class: 'form-select' } %>
      <div class="d-flex flex-row-reverse">
        <%= link_to "New Artist", new_artist_path %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :release_date, style: "display: block" %>
      <%= form.date_field :release_date, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <div class="d-flex flex-row-reverse">
        <%= form.submit "Save Art Piece", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>