<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render partial: "shared/header_and_tagline",
  locals: {
    title: "Browse Inventory",
    tagline: "Use the below table to browse the gallery's art piece inventory."
  }
%>

<%= render "nav" %>

<div id="art_pieces">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th>Title</th>
        <th>Artist</th>
        <th>Release Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @art_pieces.includes(:artist).each do |art_piece| %>
        <tr>
          <td><%= art_piece.title %></td>
          <td><%= art_piece.artist.full_name %></td>
          <td><%= art_piece.release_date %></td>
          <td><%= link_to "View Details", art_piece_path(art_piece) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>