<p style="color: green"><%= notice %></p>

<%= render partial: "shared/header_and_tagline",
  locals: {
    title: "Employee Browser",
    tagline: "Below is a list of employees currently in the system."
  }
%>

<div id="employees">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hire Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.hire_date %></td>
          <td><%= employee.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Employee Entry Form", new_employee_path %>
